body {
    background: #fafafa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background: white;
    border-bottom: 1px solid #dbdbdb;
    padding: 8px;
}

input[type="text"] {
    border: 1px solid #dbdbdb;
    padding: 8px;
    width: 300px;
    border-radius: 3px;
}

input[type="submit"] {
    background: #0096f7;
    color: white;
    border: 0;
    border-radius: 3px;
    width: 300px;
    padding: 8px;
    cursor: pointer;
    font-weight: 600;
}

input[type="submit"]:hover {
    background: #0080d0;
}

#file {
    display: none;
}

label {
    cursor: pointer;
}

#preview {
    max-width: 300px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}

.post {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin-bottom: 24px;
    padding: 12px;
}

.post p {
    margin: 0 0 12px 0;
}

.post img {
    max-width: 100%;
    border-radius: 3px;
}
